@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent; /* color of the track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* color of the thumb */
    border-radius: 10px; /* roundness of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the thumb on hover */
}